---
---

@import "{{ site.theme }}";

#background-content {
  background: 
   url(https://raw.githubusercontent.com/Greentwip/greentwip.github.io/master/assets/images/background.png) bottom left no-repeat;
   width: 100%;
   height: 100%;
   background-size: cover;
}

#background-text-overlay {
	background: -webkit-linear-gradient(blue, green);
}
