---
---

@import "{{ site.theme }}";

#multiimage {
  background: 
   url(https://raw.githubusercontent.com/Greentwip/greentwip.github.io/master/assets/images/background.png) top center no-repeat,
   width: 100%;
   height: 100%;
   background-size: cover;
}

