---
---

@import "{{ site.theme }}";

#multiimage {
  background: 
   url(https://raw.githubusercontent.com/Greentwip/greentwip.github.io/master/assets/images/background.png) bottom left no-repeat;
   width: 852px;
   height: 480px;
   background-size: cover;
}

